<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logi Sisse</title>
</head>
<body>
    <h2>Logi sisse või loo uus kasutaja</h2>

    <form method="POST" action="/">
  <label for="nimi">Kasutajanimi:</label><br>
  <input type="text" name="nimi"><br>
  <label for="parool">Parool:</label><br>
  <input type="text" name="parool"><br><br>
  <input type="submit" name = "logi_sisse_nupp" value="Logi sisse">
    </form> 
    
    
    <form method="POST" action="/">
  <input type="submit" name="uus_kasutaja_nupp" value="Uus kasutaja">
    </form> 

</body>
</html>