<!DOCTYPE html>
<html lang = "et">
    <head>
        <meta charset="UTF-8">
        <title>Kütuse kulu arvutamine</title>
    </head>
    <body>
        <h3>Sisesesta läbitud kilomeetrite arv:</h3>
        <form method ="POST" action = "/">
            <div>
                <input  type = "text" name = "km">
            </div>
            <h3>Sisesesta kulunud liitrite arv:</h3>
            <div>
                <input  type = "text" name = "kutus">
            </div>
            <input type = "submit" value = "Arvuta kütuse kulu!">
        </form>
        <p>Keskmine kütuse kulu sajale kilomeetrile on {{vastus}}l.</p>
    </body>
</html>